@tailwind base;
@tailwind components;
@tailwind utilities;

#customFormStyle {
  background-color: green;
}

body {
  background-color: rgb(209 213 219);
  font-family: 'Montserrat', sans-serif;
}

input[type=checkbox] {
  transform: scale(1.5);
}
